.container {
    width: 100%;
    background-color: blue;
}

.Homepage {
    background-image: url('../../assets/mountains.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}